<div class="container">
    <h1>Festival Form</h1>
    <form class="festival-form" #festivalForm="ngForm">
        <mat-form-field color="primary" appearance="legacy">
          <mat-label> Title </mat-label>
          <input ngModel matInput name="title" placeholder="Festival Title"  required>
          <mat-error *ngIf="festivalForm.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      <mat-form-field color="primary">
          <mat-label> City </mat-label>
        <input matInput ngModel name="city" placeholder="Festival City" required>
        <mat-error *ngIf="festivalForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="primary">
          <mat-label> Price </mat-label>
        <input matInput ngModel name="price" placeholder="Festival Price">
      </mat-form-field>
      <button mat-button *ngIf="!festivalForm.invalid" (click)="onSubmit(festivalForm.value)">Submit</button>
    </form>
</div>